<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Kami menyajikan beragam pilihan restoran yang akan memanjakan lidah Anda dengan hidangan lezat dan suasana yang menggoda. Dari restoran mewah hingga tempat makan santai, kami memiliki segala sesuatu untuk memenuhi selera kuliner Anda." />
  <link rel="icon" href="./favicon.png" />
  <link rel="manifest" href="./app.webmanifest" />
  <meta name="theme-color" content="#D14D72" />
  <link rel="apple-touch-icon" href="/icons/icon-128x128.png" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <title>Syaifood</title>
</head>

<body>
  <a href="#content" class="skip-link">Skip to content ?</a>
  <!-- Mobile Navbar -->
  <div class="menu_mobile">
    <div class="icon_menu" id="menu">
      <button class="hamburger-button" style="display: inline-block; width: 44px; height: 44px">
        <span class="hamburger-icon">&#9776;</span>
      </button>
    </div>
    <div class="logo_mobile">Syaifood</div>
    <div class="logo_mobile">&nbsp;</div>
  </div>
  <nav id="drawer" class="nav_mobile">
    <ul class="nav_list_mobile">
      <li class="nav_items_mobile"><a href="/">Home</a></li>
      <li class="nav_items_mobile"><a href="#/favorite">Favorite</a></li>
      <li class="nav_items_mobile">
        <a target="_blank" rel="noopener noreferrer"
          href="https://www.linkedin.com/in/msyaifulbhr">About Us</a>
      </li>
    </ul>
  </nav>

  <!-- Desktop Navbar -->
  <nav class="nav">
    <a class="logo" href="">Syaifood</a>
    <ul class="nav_list">
      <li class="nav_items"><a href="/">Home</a></li>
      <li class="nav_items"><a href="#/favorite">Favorite</a></li>
      <li class="nav_items">
        <a target="_blank" href="https://www.linkedin.com/in/msyaifulbhr">About Us</a>
      </li>
    </ul>
  </nav>
  <!-- Jumbotron -->
  <div class="hero" style="
        background-image: linear-gradient(
            rgba(0, 0, 5, 0.5),
            rgba(0, 0, 5, 0.5)
          ),
          url('images/heros/hero-image_2.jpg');
      ">
    <div class="hero_inner">
      <h1 class="hero_title">Welcome to Syaifood</h1>
      <p class="hero_sub_title">
        Enjoy special dishes from Indonesia,
        where food becomes an adventure.
      </p>
    </div>
  </div>
  <!-- Content -->
  <main tabindex="0" id="content"></main>
  <!-- Footer -->
  <footer tabindex="0">
    <ul>
      <li>Made by MSyaifulBhr</li>
    </ul>
  </footer>
</body>

</html>